.wrapper {
	width: 600px;
	margin: 10px auto;
}

.box {
	width: 600px;
	height: 600px;
}

button {
	text-align: center;
	margin: 0 auto;
	display: block;
	padding: 5px 10px;
	background: #C3DFF7;
	border: 1px solid #688CC9;
}

.square {
	width: 35.5px;
	height: 35.5px;
	border: 1px solid #ccc;
	float: left;
}

.coloured {
	background-color: black;
}